$unit: px;

$--color-white: #ffffff;
$--color-solidBlack: #121010;
$--color-white50: rgb(242 242 242);

$background-color: $--color-white50;
$primary-color: $--color-white;

$base-text-color: $--color-solidBlack;

$--colors: (
  "primary": (
    "base": #154575,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #F76A4D,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
  "menu-bg-color":(
    "base": #154575,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px),
  $button-bg-color: (default: #f00)
);

body {
  font-family: Radnika, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: '#000000';
  line-height: 125%;
}

a {
  color: var(--ep-color-primary);
}

.h-full {
  height: 100%;
}

.pointer{
  cursor: pointer;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-text {
  color: $--color-solidBlack;
}

.align-center {
  display: flex;
  align-items: center; /* Centers content vertically */
}

.text-white {
  color: #fff;
}

.text-regualar {
  font-weight: 400;
  font-size: 16px;
}

.text-title {
  font-weight: 600;
  font-size: 24px;
}