@font-face {
    font-family: 'Radnika';
    src: url('@/assets/fonts/Radnika-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radnika';
    src: url('@/assets/fonts/Radnika-Black.woff') format('truetype');
    font-weight: bold;
    font-style: normal;
}